@media (max-width: 600px) {
    .texts {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

@media (max-width: 400px) {
    .boxsize {
        width: 34%;
        margin-top: 20px;
    }
    .texts {
        font-size: 1.65rem;
        line-height: 2.10rem;
        margin-top: 10px;
    }
}